body {
    display: grid;
    justify-content: center;
    background-color: #fce4ec;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.sakura {
    position: absolute;
    top: -10px;
    background: #ffb7b2;
    border-radius: 100% 0 100% 0;
    opacity: 0.6;
    pointer-events: none; 
    animation: tomber linear infinite;
    z-index: -1;
}

@keyframes tomber {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg); /* Tombe en bas + rotation */
        opacity: 0;
    }
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

button {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.671);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#sudoku-grid {
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 0px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pre-rempli {
    background-color: #f1f1f1;
    font-weight: bold;  
    color: #333;
}

.case {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    border: 1px solid #000000;
}

.case:nth-child(3n) {
    border-right: 3px solid #000000;
}
.case:nth-child(9n) {
    border-right: 1px solid #000000;
}
.case:nth-child(n+19):nth-child(-n+27) {
    border-bottom: 3px solid #000000;
}
.case:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid #000000;
}

#message-feedback {
    text-align: center;
    font-size: 24px;   
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 15px;
    min-height: 30px;
    color: #000000;
    letter-spacing: 1px;
    background-color: #ff9cc5;
    border-radius: 15px;
    transition : opacity 1s ease;
    opacity: 0;
    padding: 5px 7px;
}

.message-visible {
    opacity: 1 !important;
}